.about-us__list {
	display: flex;
}

.about-us__item:not(:last-child) {
	margin-right: 30px;
}

.about-us__right-side {
	margin-left: 65px;
	width: 500px;
}

.about-us__info {
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.857;
	letter-spacing: 0.02em;
	color: $tertiary-grey-color;
}

