.above-light {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.364;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--dark-grey-color);
	margin-bottom: 20px;

	&::before {
		content: "";
		width: 60px;
		height: 1px;
		display: block;
		background-color: var(--dark-grey-color);
		margin-right: 20px;
	}

	.services & {
		margin-left: 55px;
		margin-right: 20px;
	}
}

.above-dark {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.364;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--header-color);
	margin-bottom: 20px;

	&::before {
		content: "";
		width: 60px;
		height: 1px;
		display: block;
		background-color: var(--header-color);
		margin-right: 20px;
	}

	.our-barbers & {
		margin-left: 55px;
	}

	.portfolio & {
		margin-left: 55px;
	}
}

.above-snow {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.364;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--white-color);
	margin-bottom: 20px;

	&::before {
		content: "";
		width: 60px;
		height: 1px;
		display: block;
		background-color: var(--white-color);
		margin-right: 20px;
	
	}
}
