.prime-btn {
	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.333;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: inherit;
	padding: 12px;
	display: block;
	border-radius: 25px;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid $accent-color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: $accent-color;
	}

	&--black-theme {
		color: $primary-dark-color;

		&:hover,
		&:focus {
			color: $primary-light-color
		}
	}

	.header & {
		margin-right: 15px;
	}

	.modal & {
		width: 200px;
		margin: 0 auto;
	}

	.services & {
		margin: 0 auto;
	}

	.contact-us & {
		width: 200px;
		margin-right: auto;
		margin-bottom: 193px;
	}
}
