.second-header {
	font-family: $secondary-font;

	font-weight: 700;
	font-size: 42px;
	line-height: 1.167;
	letter-spacing: 0.05em;
	color: $primary-dark-color;
	margin-bottom: 20px;

	.our-barbers & {
		margin-bottom: 44px;
		margin-left: 55px;
	}

	.services & {
		margin-bottom: 44px;
		margin-left: 55px;
	}

	.contact-us__left-side & {
		margin-top: 130px;
		margin-bottom: 44px;
	}

	.contact-us__right-side & {
		margin-bottom: 40px;
	}

	&--white-theme {
		color: $primary-light-color;
	}
}
