.under {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.667;
	letter-spacing: 0.02em;
	color: $secondary-grey-color;

	.hero & {
		width: 367px;
	}

	.about-us__right-side & {
		margin-bottom: 20px;
	}

	&--dark-theme {
		color: $tertiary-grey-color;
	}
}
