
.under {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.667;
	letter-spacing: 0.02em;
	color: var(--grey-color);
}

.hero .under {
	width: 367px;
}

.about-us__right-side .under {
	margin-bottom: 20px;
}

.under--dark-theme {
	color: var(--paragraph-color);
}