.container {
	width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
	align-items: center;

	.header & {
		display: flex;
		padding-top: 32px;
		padding-bottom: 32px;
		align-items: center;
	}

	.hero & {
		display: flex;
	}

	.why-us & {
		display: flex;
		align-items: flex-start;
	}

	.about-us & {
		display: flex;
	}

	.contact-us & {
		display: flex;
		background: #191c26;
		padding-right: 0;
	}

	.footer & {
		display: flex;
		justify-content: space-between;
	}
}
