$primary-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-dark-color: #303030;
$primary-light-color: #ffffff;
$primary-grey-color: #9da4bd60;
$secondary-grey-color: #9da4bd;
$tertiary-grey-color: #555555;
$accent-color: #ff6c00;
